/* leave some room for the progress bar */
nav {
  margin-top: 2px;
}

/* page transitions */
.page-enter-active, .page-leave-active {
  transition: opacity .13s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.columns .card {
  height: 100%;
}

.more-link-wrapper {
  margin-top:5vh;
  margin-bottom:5vh;
}

.nodes .title {
  margin-top:5vh;
}