/* leave some room for the progress bar */
nav {
  margin-top: 2px;
}

/* page transitions */
.page-enter-active, .page-leave-active {
  transition: opacity .2s
}
.page-enter, .page-leave-active {
  opacity: 0
}

section {
  margin-bottom:10vh;
}

.recipes .card .thumbnail {
   max-height:180px;
   overflow:hidden;
}

.recipes .card {
   height:100%;
   position:relative;
   transition: all 0.3s ease-in-out;
   top:0 
}

.recipes .card:hover {
  transition: all 0.2s ease-in-out;
  top:-10px;
  box-shadow:  0 2px 30px;
}

.recipes .card .description {
   font-style: italic
}

.recipes .card .difficulty {
   margin-bottom:10px;
}