/**
 * v-lazy components image fade in
 */

img[lazy=loading] {
  opacity: 0;
}

img[lazy=loaded] {
    transition: opacity 1s;
    opacity: 1;
}

/* page transitions */
.page-enter-active, .page-leave-active {
  transition: opacity .2s
}

.page-enter, .page-leave-active {
  opacity: 0
}


/* leave some room for the progress bar */
nav {
  /*margin-top: 2px;*/
}
